

#calculator {
  background-color: #1E1E1E;
}

.num {
  background-color: #000000;
  color: white;
  width: 100%
}

.sym {
  background-color: #6F5D53;
  color: white;
  width: 100%;
}

#equ {
  background-color: #F37C18;
  width: 100%;
}

#screen {
  background-color: #D4D9B9;
  text-align: right;
  height: 25px;
}

#clear {
  width: 100%;
  background-color: #F37C18;
  color: white;
}